<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hamza welcome to the Create Invoice page</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <!-- Card for displaying totals -->
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Table of Invoice Items</h3>
                    <app-add-new-facture-item-modal></app-add-new-facture-item-modal>
                </div>
                <div class="card-body table-responsive p-0" style="height: 552px;">
                    <table id="Table" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th id="smallth">Qs</th>
                                <th>DESIGNATION</th>
                                <th id="smallth">P.U</th>
                                <th id="smallth">P.T</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="card"> -->
                <div class="card-header" style="text-align: center;background: #0d899a;color: white;">
                    <span class="text-left" style="float: left;"> <b>N</b>: <span id="N_ELEMENT">0</span> </span>
                    <span class="text-center"> <b>TOTAL HT</b>: <span id="HT">0</span> </span>
                    <span class="text-right" style="float: right;"> <b>TOTAL TTC</b>: <span id="TTC">0</span> </span><br>
                    <span class="text-right" style="float: right;"> <b>TVA</b>: <span id="TVA">0</span> </span>
                </div>
                <!-- /.card-header -->
            </div>

        </div>
        <!-- Card for form -->
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Enter Billing Information</h3>
                </div>
                <div class="card-body">
                    <form id="Form" action="/create-new-facture/" method="post">
                        <input type="hidden" name="datatable" id="tableinput" value="" required>
                        <div class="form-group">
                            <label>Invoice Number</label>
                            <input type="number" min="0" class="form-control" name="facture_number"
                                [value]="newFactureNumber" id="facture_number" placeholder="N°:" required readonly>
                        </div>
                        <div class="form-group">
                            <label>Client Name</label>
                            <div style="display: flex;">
                                <select id="ClientID" name="client_name" class="form-control"
                                    style="margin-right: 10px;" [(ngModel)]="selectedClient">
                                    <option value="-" selected disabled>Select a Client</option>
                                    <option *ngFor="let client of selectBody" [value]="client.id">{{ client.name }}
                                    </option>
                                </select>
                                <app-add-client-modal></app-add-client-modal>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>La Date</label>
                                    <input type="date" class="form-control" id="Date" autocomplete="off" name="date" value=""
                                        placeholder="..." required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                </div>
                            </div>
                            <div id="avance" class="col-sm-6">
                                <div class="form-group">
                                    <label>Avance :</label>
                                    <input type="number" class="form-control" name="avance" value="0">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Méthode de paiement</label>
                                    <select class="form-control" id='paiementmethod' name="paiementmethod">
                                        <option value="-" disabled selected>Choisir Une Méthode</option>
                                        <option>Espèces</option>
                                        <option>Chèque</option>
                                        <option value='Lettre'>Lettre De Change</option>
                                        <option value='Virement'>Virement Bancaire</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>TTC ou HT :</label>
                                    <select class="form-control" id="TTTCorHT" name="TTTCorHT">
                                        <option>TTC</option>
                                        <option>HT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ButtnEnregister">
                                <button id="savebttn" type="submit" class="btn btn-default btn-info"
                                    (click)="ValidInputNotEmpty('clientside');">
                                    <i id="IconPlus" class="fas fa-plus"></i>
                                    <span id="IconSpin" class="spinner-border spinner-border-sm"
                                        style="display:none"></span>
                                    <b>SAVE</b>
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modals -->
<div class="modal fade" id="AddNewFactureItemModal" role="dialog">
    <div class="modal-dialog card card-default">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter all information here:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Qs</label>
                    <input type="number" min="0" class="form-control" id='Qs' name="Qs" [(ngModel)]="newQs"
                        (keyup)="calculatePT();" placeholder="Qs" required>
                </div>
                <div class="form-group" style="height: 65px">
                    <label>DESIGNATION</label>
                    <select id="ProductName" class="form-control" [(ngModel)]="selectedProduct">
                        <option value="-" disabled selected>Choose a Product</option>
                        <option *ngFor="let product of selectProductBody" [value]="product.id">{{ product.name }}
                        </option>
                    </select>
                    <input type='text' placeholder="Choose or enter a new product name" class="form-control editOption"
                        ><!--[(ngModel)]="newProductName"-->
                </div>
                <div class="form-group">
                    <label>PU</label>
                    <input type="number" class="form-control" id='PU' name="PU" [(ngModel)]="newPU"
                        (keyup)="calculatePT();" placeholder="PU" required>
                </div>
                <div class="form-group">
                    <label>PT</label>
                    <input type="number" class="form-control" id='PT' name="PT" [(ngModel)]="newPT" placeholder="PT"
                        required readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" (click)="ValidInputNotEmpty('addnew');"><i
                        class="fas fa-plus"></i> Add</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditFactureItemModal" role="dialog">
    <div class="modal-dialog  card card-default">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter all information here:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id='SelectedRowNumber' value="">
                <div class="form-group">
                    <label>Qs</label>
                    <input type="number" min="0" class="form-control" id='Edit_Qs' name="Qs" [(ngModel)]="editQs"
                        (keyup)="CalculatePTedit();" placeholder="Qs" required>
                </div>
                <div class="form-group" style="height: 65px">
                    <label>DESIGNATION</label>
                    <select id="Edit_ProductName" class="form-control" [(ngModel)]="selectedEditProduct">
                        <option value="-" disabled selected>Choose a Product</option>
                        <option *ngFor="let product of selectProductBody" [value]="product.id">{{ product.name }}
                        </option>
                    </select>
                    <input type='text' placeholder="Choose or enter a new product name" class="form-control editOption"><!--[(ngModel)]="newEditProductName"-->
                    <script>
                        function CalculatePTedit() {
                            document.getElementById('Edit_PT').value = document.getElementById('Edit_Qs').value * document.getElementById("Edit_PU").value
                        }
                    </script>
                </div>
                <div class="form-group">
                    <label>PU</label>
                    <input type="number" class="form-control" id='Edit_PU' name="PU" [(ngModel)]="editPU"
                        (keyup)="CalculatePTedit();" placeholder="PU" required>
                </div>
                <div class="form-group">
                    <label>PT</label>
                    <input type="number" class="form-control" id='Edit_PT' name="PT" [(ngModel)]="editPT"
                        placeholder="PT" required readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" (click)="ValidInputNotEmpty('edit');"><i
                        class="fas fa-plus"></i>Edit</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>