<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hamza bienvenue sur la page pour Créer un Devis </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-billing-form TYPE="DEVIS"></app-billing-form>
        </div>
        <div class="col-md-6">
            <app-facture-table-items TYPE="DEVIS"></app-facture-table-items>
        </div>
    </div>
</section>
