<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username}} bienvenue sur la page de gestion des Produits </h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Liste de Tous Les Produits</h3>
                </div>
                <div class="card-body table-responsive p-0" style="height: 552px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Nom du Produit</th>
                                <th>Prix Unitaire</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- {{tablebody | CreateTableBody}} -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Ajouter un Nouveau Produit</h3>
                </div>
                <form action="/settings/manage-products" method="POST">
                    <div class="card-body">
                        <input type="hidden" name="_token" value="csrf_token">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="ProductName" autocomplete="off"
                                placeholder="Nom du produit" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-tags"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="PU" autocomplete="off"
                                placeholder="Prix Unitaire du Produit" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-dollar-sign"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                    <button type="submit" id='submitbttn' class="btn btn-primary btn-block">
                                        <i class="far fa-plus-square"></i>
                                        Ajouter
                                    </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<form action="" method="POST" id='deleteform'>
    <input type="hidden" name="_token" value="csrf_token">
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Veuillez entrer votre mot de passe :</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="modalpass" class="col-form-label">Mot de passe :</label>
                    <input type="password" name="password" class="form-control" id="modalpass" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-danger"><i class="fas fa-trash"></i>
                        Supprimer</button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" method="POST" id='FormToEditProduct'>
    <input type="hidden" name="_token" value="csrf_token">
    <div class="modal fade" id="EditProductModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Veuillez entrer toutes les informations ici :) </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id='ProductName' name="ProductName" autocomplete="off"
                            placeholder="Nom du Produit" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-tags"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id='PU' name="PU" autocomplete="off"
                            placeholder="Prix Unitaire du Produit" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-dollar-sign"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info"><i class="fas fa-edit"></i> Éditer</button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .alert-primary {
        color: #fff;
        background-color: #89bff9;
        border-color: #006fe6;
        padding: 6px;
    }

    .alert-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #d32535;
        padding: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        padding: 6px;
        width: 114px;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin: auto;
    }
</style>